<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>IT小龙技术论坛_发帖页</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
	<link rel="shortcut icon" href=".<?php echo DIR_PUBLIC;?>/image/webheader.ico"/>
	<link rel="stylesheet" type="text/css" href=".<?php echo DIR_PUBLIC;?>/css/public.css" />
	<link rel="stylesheet" type="text/css" href=".<?php echo DIR_PUBLIC;?>/css/publish.css" />
	<!--layui框架需要引入的js和css-->
	<link rel="stylesheet" href=".<?php echo DIR_PUBLIC;?>/css/layui.css" media="all">
	<script src=".<?php echo DIR_PUBLIC;?>/layui.js" charset="utf-8"></script>
    <script src=".<?php echo DIR_PUBLIC;?>/js/jquery.min.js" charset="utf-8"></script>
</head>
<script>
    $(function () {
        $("#titleid").val("<?php echo  @$_SESSION['inputTitle'];?>");
        $("#contentid").val("<?php echo  @$_SESSION['inputContent'];?>");
    });
</script>
<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">IT小龙技术论坛</div>
			<div class="nav">
				<a href="../index.php">首页</a>
			</div>
			<div class="serarch">
			<form action="./list_son.php" method="GET">
				<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
				<input class="submit" type="submit" value="" />
			</form>
			</div>
			<div class="login">
				<!--<?php if (isset($_COOKIE['user_id'])||isset ($_SESSION['userinfo'])){;?>
				<a href="#"><?php echo $_SESSION['userinfo']['user_name'];?>您好</a>
				<a href="./logout.php">&nbsp;退出</a>
				<?php }else{;?>
				<a href="model/loginforhtml.php">登录</a>&nbsp;
				<a href="./register.php">注册</a>
				<?php };?>-->
				<?php login_regin();?>
			</div>
		</div>
	</div>
	<div style="margin-top:55px;"></div>
	<div id="position_a" class="auto">
			<a href="../index.php">首页</a> &gt; <a>发帖界面</a>
	</div>
	<div id="publish">
		<form method="post"  action='publish_deal.php?getpubtime=<?php echo $gettime;?>' enctype="multipart/form-data" >
			<select name="module_id">
				<option selected="selected" value="">请选择一个版块</option>
				<option value="1">PHP版块</option>
				<option value="2">安卓版块</option>
				<option value="3">java版块</option>
			</select>
			<input class="title" placeholder="请输入标题" name="pub_title" type="text" id="titleid"/>
			<textarea name="pub_content" class="content"  id="contentid"></textarea>
			<input class="publish" type="submit" name="submit" value="" data-type="content"/>
			<div style="clear:both;"></div>
		</form>
	</div>
	<div id="footer" class="auto">
		<div class="bottom">
			<a>河源职业技术学院15软件技术---小龙</a>
		</div>
		<div class="copyright">版权所有权归属 小龙 ©2017 www.itxiaolong.com</div>
	</div>
</body>
<script>
    layui.use('layedit', function(){
        var layedit = layui.layedit;
        //保存图片的
        layedit.set({
            uploadImage: {
                url: 'load_image_publish.php?getpubtime=<?php echo "$gettime";?>' //接口url
                ,type: 'post' //默认post
            }
        });
        var index=layedit.build('contentid'); //建立编辑器
       var active = {
		    content: function(){
                //获取编辑器内容
		       layedit.getContent(index);

		    }
		  };
		  
		  $('.publish').on('click', function(){
		    var type = $(this).data('type');
		    active[type] ? active[type].call(this) : '';
		  });
    });

</script>

</html>